body {
    margin: 0;
    padding: 100px 0 80px 0;
    font-family: 'Roboto', sans-serif;
}

.site-content {
    padding-left: 2em;
    padding-right: 2em;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #0B162A;
    color: #C83803;
    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    align-items: center;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #0B162A;
    color: #C83803;
    padding-left: 2em;
    padding-right: 2em;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: inherit;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: underline;
}
